<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p style="text-align: center;">
  Halifax College Facebook: <a href="https://www.facebook.com/HalifaxCollegeFreshers?fref=ts">FACEBOOK</a>
  <br>
  Halifax College Live Admin: admin@halifaxcollege.com
</p>