<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <% # Rails auto iterates through them and renders each one with the _user.html.erb partial %>
</ul>

<%= will_paginate %>