<% provide(:title, "Create Event") %>
<h1>Create your event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <%= simple_form_for(@event, html: { multipart: true }, :defaults => {:required => false}) do |f| %>
  
    <%= render 'fields', f: f %>  
    <%= f.submit "Post", class: "btn btn-primary" %>
    
  <% end %>

  </div>
</div>