@import 'application'

/* events
.events
  list-style: none
  padding: 0
  li
    padding: 10px 0
    border-top: 1px solid #e8e8e8
  .user
    margin-top: 5em
    padding-top: 0
  .content
    display: block
    margin-left: 60px
    word-wrap: break-word
    img
      display: block
      padding: 5px 0
  .timestamp
    color: $gray-light
    display: block
    margin-left: 60px
  .gravatar
    float: left
    margin-right: 10px
    margin-top: 5px
aside
  textarea
    height: 100px
    margin-bottom: 5px
span.picture
  margin-top: 10px
  input
    border: 0
    
.event_time
  select
    border: 3px solid black
    max-width: 60px
    padding: 5px
    margin-left: 10px
  select:nth-child(2)
    max-width: 250px
    
.change_endtime_css
  display: none
  
.event-row 
  -moz-column-width: 18em
  -webkit-column-width: 18em
  -moz-column-gap: 1em
  -webkit-column-gap: 1em

.event-item
  display: inline-block
  width:  100%
  
.event-content
  word-wrap: break-word

.picture_preview
  img
    max-width: 100%